Lets' Learn Pandas Library

In [1]:
import pandas as pd
import numpy as np
pd.__version__

'2.1.3'

Creating Sereis

In [2]:
#Pandas Series is a one-dimensional labeled array capable of holding data of any type(integer, string, float, python, objects, etc,.). 
#The axis labels are collectively called index. Labels need not be unique but must be a hashable type. The object supports both integer and label-based
#indexing and provides a host of methods for performing operations on the index.


#Series through list 
lst = [1,2,3,4,5]
print(pd.Series(lst))

#Series through numpy array
arr = np.array([1,2,3,4,5])
print(pd.Series(arr))

print("----------")
print(pd.Series(5))
print("----------")
print(pd.Series([1,2,3,4,5]))

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int32
----------
0    5
dtype: int64
----------
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
#We can explicitly giving the index to the elements of a Series
print(pd.Series(data=['chetan','veeranna','kammar'], index=[3,1,2]))
print("------OR------")
print(pd.Series(index=[0,1,2,3], data=['Chetan','V','Kammar','CVK']))

3      chetan
1    veeranna
2      kammar
dtype: object
------OR------
0    Chetan
1         V
2    Kammar
3       CVK
dtype: object

In [4]:
#Series through Dictionary values
steps = {'day1': 2000, 'day2':4000, 'day3':8000}
pd.Series(steps)

#keys are index and values are values itself.

day1    2000
day2    4000
day3    8000
dtype: int64

In [5]:
#repeat() function: It returns a new series where each element of the current Series is repeated consecutively a given
#nummber of times. Here the index remains the same for the original element and also for repeated elements. 

print(pd.Series(5).repeat(5))    #the element 5 will repeat for 5 times.
print("--------------------")
print(pd.Series(lst).repeat(3))  #the elements in the list will repeat for 3 times.
print("--------------------")
#but we can change the index of the repeated elements of a Series using the reset_index() function.
print(pd.Series(5).repeat(5).reset_index())   #here you will get the data in the form of dataframe bcz we have not used the drop=True
print("----------------")
print(pd.Series([5,3]).repeat([2,4]).reset_index(drop=True))  #this does not gives dataframe

0    5
0    5
0    5
0    5
0    5
dtype: int64
--------------------
0    1
0    1
0    1
1    2
1    2
1    2
2    3
2    3
2    3
3    4
3    4
3    4
4    5
4    5
4    5
dtype: int64
--------------------
   index  0
0      0  5
1      0  5
2      0  5
3      0  5
4      0  5
----------------
0    5
1    5
2    3
3    3
4    3
5    3
dtype: int64

In [6]:
#Accessing, Slicing the elements of the pandas Series
#This is same as accessing the elements of the array using index
s = pd.Series([5,3]).repeat([2,4]).reset_index(drop=True)
print(s)
print("-------------")
print(s[1])
print(s[0])
print(s[5])

#Slicing
s[:]
s[1:4]
s[1:-1]  #removes the 1st and the last element
s[:-1]
s[-1::-1]   #reversing the elements
s[-1:0:-1]

0    5
1    5
2    3
3    3
4    3
5    3
dtype: int64
-------------
5
5
3

5    3
4    3
3    3
2    3
1    5
dtype: int64

In [ ]:
#Aggregate the functions(like max, min,sum,...) on pandas Series
sr = pd.Series([1,2,3,4,5,6,7,8,9])
print(sr.agg([min, max, sum]))
print("---------")
for i in sr:
    try:
        sq = sr[i]**2
        print(sq)
    except Exception as ex:
        print(ex)

min     1
max     9
sum    45
dtype: int64
---------
4
9
16
25
36
49
64
81
9

C:\Users\cheta\AppData\Local\Temp\ipykernel_27072\633006766.py:3: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  print(sr.agg([min, max, sum]))
C:\Users\cheta\AppData\Local\Temp\ipykernel_27072\633006766.py:3: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print(sr.agg([min, max, sum]))
C:\Users\cheta\AppData\Local\Temp\ipykernel_27072\633006766.py:3: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(sr.agg([min, max, sum]))

In [8]:
#Series Absolute Functions (negative into positive values)
sr = pd.Series([1,2,-3,-4,-5,6,-7])
sr.abs()

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [ ]:
#Appending the Series There are 2 ways to deal with appending
sr1=pd.Series([1,2,3,4,5])
sr2=pd.Series([-1,-2,-3,-4,-5])

sr1,sr2
#pandas 2.0+ version doesn't support append() Instead we can use concat()
sr3 = pd.concat([sr1,sr2],  ignore_index=True)   #just like drop=true
print(sr3)

0    1
1    2
2    3
3    4
4    5
5   -1
6   -2
7   -3
8   -4
9   -5
dtype: int64

In [10]:
#Astype function which is used for converting the data type of the elements of the series
pd1 = pd.Series([1,2,-3,-5,-6,7])
print(type(pd1[2]))
print(pd1.astype('float'))   #converting int type into float
print(pd1[2].astype('float'))  #converting particular element into float

<class 'numpy.int64'>
0    1.0
1    2.0
2   -3.0
3   -5.0
4   -6.0
5    7.0
dtype: float64
-3.0

In [16]:
#Between Functions
#pandas between() method is used on series to check value lies between first and second argument.

sr1=pd.Series([1,2,3,4,5,6,7,8,9])
print(sr1.between(5,7))       #this says true for those values are lying in the range given in the between function.
print("-----------")
sr2=pd.Series([10, 20, 30, 40 ,50, 60, 70, 80,90])
print(sr2.between(20,40)) #here it says True for index holding the values of given range including the extreme end.

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7    False
8    False
dtype: bool
-----------
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
dtype: bool

All strings functions can be used to extract or modify texts in a series.

Upper and lower functions --Len function
--Strip function
--Split function
--Contains function
--Replace function
--Count function
--Startwith and Endswith function
--Find function

In [12]:
series = pd.Series(['chetan','Veeranna','Kammar','Dr.ait','cse','A'])
print(series)

print("-----------")

print(series.str.upper())

print("-----------")

print(series.str.lower())

print("-----------")

for i in series:
    print(i, len(i))
    
print("-----------")

print(series.str.strip())
for i in series:
    print(i, len(i))

print("-----------")

print(series.str.split()[0:3])  #[start:end:step]

print("-----------")

print(series.str.contains('e'))   #if 'e' letter present in the given series it returns true.

print("-----------")

example = pd.Series('Chatu')
print(example.str.replace('a','e'))

print("-----------")

print(example.str.startswith('c'))
print(example.str.startswith('C'))
print(example.str.endswith('u'))
print(example.str.endswith('m'))

print("-----------")

print(series.str.find('cse'))

0      chetan
1    Veeranna
2      Kammar
3      Dr.ait
4         cse
5           A
dtype: object
-----------
0      CHETAN
1    VEERANNA
2      KAMMAR
3      DR.AIT
4         CSE
5           A
dtype: object
-----------
0      chetan
1    veeranna
2      kammar
3      dr.ait
4         cse
5           a
dtype: object
-----------
chetan 6
Veeranna 8
Kammar 6
Dr.ait 6
cse 3
A 1
-----------
0      chetan
1    Veeranna
2      Kammar
3      Dr.ait
4         cse
5           A
dtype: object
chetan 6
Veeranna 8
Kammar 6
Dr.ait 6
cse 3
A 1
-----------
0      [chetan]
1    [Veeranna]
2      [Kammar]
dtype: object
-----------
0     True
1     True
2    False
3    False
4     True
5    False
dtype: bool
-----------
0    Chetu
dtype: object
-----------
0    False
dtype: bool
0    True
dtype: bool
0    True
dtype: bool
0    False
dtype: bool
-----------
0   -1
1   -1
2   -1
3   -1
4    0
5   -1
dtype: int64

Converting the Series into List.

In [13]:
#Pandas has tolist() for converting the series to lsit. Initially the series is of type pandas.core.series.

print(series.to_list())

['chetan', 'Veeranna', 'Kammar', 'Dr.ait', 'cse', 'A']